<div class="section parallax" style="background-image:url('assets/images/bgs/sec-bg-03.jpg');padding:30px 0" data-stellar-background-ratio="0.6">
  <div class="video-overlay" style="z-index: 1"></div>
  <div class="container">
    <div class="cta_btn">

      <div class="f-left">
        <h2 class="cta_heading bold white">Call Us at <span class="main-color">+888-0000-000-000</span> and check out our features</h2>
        <h4 class="cta_heading white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus <span class="main-color">adipiscing elit</span>.</h4>
      </div>

      <a class="btn btn-xl main-bg f-right shape" href="#">Purchase Now</a>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div class="heading sub-head">
          <h3 class="bolder head-4 uppercase">Recent <span class="main-color">Posts</span></h3>
        </div>

        <div class="row posts-mini">
          <div class="col-md-6 post-item">
            <div class="post-image">
              <a href="blog-single.html">
                <img src="assets/images/blog/large/1.jpg" alt="Our Blog post image goes here">
              </a>
            </div>
            <article class="post-content">
              <div class="post-info-container">
                <div class="post-info">
                  <h2><a href="blog-single.html">Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam.</a></h2>
                  <ul class="post-meta">
                    <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                    <li class="meta_date"><i class="fa fa-clock-o"></i>15 May, 2015</li>
                  </ul>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium Lorem ipsum Lorem ipsum dolor lacusdolor lacus pretium  pretium Lorem ipsum dolor sit amet, dolor sit. <a class="more_btn main-color" href="blog-single.html">Read more</a></p>
            </article>
          </div>

          <div class="col-md-6 post-item">
            <div class="post-image">
              <a href="blog-single.html">
                <img src="assets/images/blog/large/2.jpg" alt="Our Blog post image goes here">
              </a>
            </div>

            <article class="post-content">
              <div class="post-info-container">
                <div class="post-info">
                  <h2><a href="blog-single.html">Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada.</a></h2>
                  <ul class="post-meta">
                    <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                    <li class="meta_date"><i class="fa fa-clock-o"></i>15 May, 2015</li>
                  </ul>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium Lorem ipsum dolor sit amet, dolor lacus pretium dolor lacus pretium Lorem ipsum dolor sit amet, dolor sit. <a class="more_btn main-color" href="blog-single.html">Read more</a></p>
            </article>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="heading sub-head">
          <h3 class="bolder head-4 uppercase">Testimonials</h3>
        </div>
        <div class="testimonials shape horizontal-slider normal-testimonials gry-bg padding-horizontal-20 padding-vertical-20" data-slides_count="1" data-scroll_amount="1" data-slider-speed="300" data-slider-arrows="0" data-slider-auto="1" data-slider-infinite="1" data-slider-dots="1">
          <div class="testimonials-bg">
            <div class="testimonials-img">
              <img alt="" src="assets/images/testimonials/1.jpg">
            </div>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing. rhoncus a quis nisly vitae aliquet."</p>
            <div class="testimonials-name">
              <strong class="main-color">Ellina Williams</strong>: ThemeForest
              <br>
              <span class="testo-pos">CEO</span>
            </div>
          </div>
          <div class="testimonials-bg">
            <div class="testimonials-img">
              <img alt="" src="assets/images/testimonials/2.jpg">
            </div>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing. rhoncus a quis nisly Ut vehicula gravida."</p>
            <div class="testimonials-name">
              <strong class="main-color">Ellina Williams</strong>: ThemeForest
              <br>
              <span class="testo-pos">Manager</span>
            </div>
          </div>
          <div class="testimonials-bg">
            <div class="testimonials-img">
              <img alt="" src="assets/images/testimonials/3.jpg">
            </div>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing. rhoncus a quis nisly duiaugue vitae aliquet."</p>
            <div class="testimonials-name">
              <strong class="main-color">Ellina Williams</strong>: ThemeForest
              <br>
              <span class="testo-pos">UX Developer</span>
            </div>
          </div>
          <div class="testimonials-bg">
            <div class="testimonials-img">
              <img alt="" src="assets/images/testimonials/4.jpg">
            </div>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing. rhoncus a quis nisly Ut augue vitae aliquet."</p>
            <div class="testimonials-name">
              <strong class="main-color">Ellina Williams</strong>: ThemeForest
              <br>
              <span class="testo-pos">Chair man</span>
            </div>
          </div>
        </div>

        <div class="main-bg ads-box shape margin-top-10">
          <p class="white uppercase t-center">With SuperFine You Can Brand Your Business, Just Try it.</p>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="section padding-vertical-0">
  <div class="col-md-4 padding-horizontal-50 padding-vertical-50 over-hidden" style="background-color:#2d4851">
    <i class="f-left fa fa fa-globe font-70 white margin-top-30"></i>
    <div class="margin-left-100">
      <h3 class="white uppercase bold txt-shadow">Our Mission</h3>
      <p class="white txt-shadow">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
      <a class="btn btn-outlined btn-white shape" href="#">Read More</a>
    </div>
  </div>
  <div class="col-md-4 padding-horizontal-50 padding-vertical-50 over-hidden" style="background-color:#6eb8af">
    <i class="f-left fa fa fa-eye font-70 white margin-top-30"></i>
    <div class="margin-left-100">
      <h3 class="white uppercase bold txt-shadow">Our Vision</h3>
      <p class="white txt-shadow">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
      <a class="btn btn-outlined btn-white shape" href="#">Read More</a>
    </div>
  </div>
  <div class="col-md-4 padding-horizontal-50 padding-vertical-50 over-hidden" style="background-color:#263c3b">
    <i class="f-left fa fa fa-gears font-70 white margin-top-30"></i>
    <div class="margin-left-100">
      <h3 class="white uppercase bold txt-shadow">Our Strategy</h3>
      <p class="white txt-shadow">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
      <a class="btn btn-outlined btn-white shape" href="#">Read More</a>
    </div>
  </div>
</div>

<div class="section">

  <div class="heading full-heading alter-gry" style="background-image:url('assets/images/patterns/bg2.jpg')">
    <h3 class="inner-head">Template Features</h3>
    <h4 class="small-heading">Checkout Our <span class="main-color">Possibilities</span></h4>
  </div>

  <div class="container">

    <p class="heading-desc centered">Let’s Create Unlimited Websites With this Fancy Huge HTML Template, With Endless possibilities and very easy Customization, What else do you need to create all your websites, it is completely complete one.</p>

    <div class="row">
      <div class="col-md-4">
        <div class="icon-box-small">
          <i class="fa fa-leaf main-bg filled shape"></i>
          <div class="icon-sm-desc">
            <h3 class="bold uppercase">Clean, Valid HTML5 Code</h3>
            <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box-small">
          <i class="fa fa-recycle main-bg filled shape"></i>
          <div class="icon-sm-desc">
            <h3 class="bold uppercase">Fully Customizable</h3>
            <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box-small">
          <i class="fa fa-puzzle-piece main-bg filled shape"></i>
          <div class="icon-sm-desc">
            <h3 class="bold uppercase">High Quality Design</h3>
            <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-70">
      <div class="col-md-4">
        <div class="icon-box-small">
          <i class="fa fa-legal main-bg filled shape"></i>
          <div class="icon-sm-desc">
            <h3 class="bold uppercase">SEO Optimized Template</h3>
            <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box-small">
          <i class="fa fa-legal main-bg filled shape"></i>
          <div class="icon-sm-desc">
            <h3 class="bold uppercase">SEO Optimized Template</h3>
            <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box-small">
          <i class="fa fa-legal main-bg filled shape"></i>
          <div class="icon-sm-desc">
            <h3 class="bold uppercase">SEO Optimized Template</h3>
            <p>Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>