
<p class="heading-desc centered">Let’s Create Unlimited Websites With this Fancy Huge HTML Template, With Endless possibilities and very easy Customization, What else do you need to create all your websites, it is completely complete one.</p>

<div class="row">
  <div class="col-md-6">
    <div class="tabs-style-default">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#mission"><span><i class="tab-icon fa fa-briefcase main-color"></i>Our Mission</span></a></li>
        <li role="presentation"><a href="#vision"><span><i class="tab-icon fa fa-eye main-color"></i>Our Vision</span></a></li>
        <li role="presentation"><a href="#strategy"><span><i class="tab-icon fa fa-cogs main-color"></i>Our Strategy</span></a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active  shape" id="mission">
          <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet, eros est egestas odio, at aliquet elit nulla sed massa. cursus massa vehicula imperdiet, eros est egestas odio, at aliquet elit nulla sed massa. cursus massa at urnaaculis estie.Mauris in quam tristique, dignissim urna in, molestie felis. Fusce tristique, elit nec vehicula imperdiet, eros est egestas odio, at aliquet elit nulla sed massa. Ut cursus massa at urnaaculis estie.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade shape" id="vision">
          <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce odio, at aliquet elit nulla sed massa molestie felis.</p>
          <ol class="f-left ollist">
            <li>vehicula imperdiet, eros est egestas odio</li>
            <li>Fusce odio, at aliquet </li>
            <li>vehicula eros est egestas odio</li>
            <li>Fusce odio, at aliquet </li>
          </ol>
        </div>
        <div role="tabpanel" class="tab-pane fade shape" id="strategy">
          <p>Mauris in quam tristique, dignissim urna in, molestie felis. Fusce odio, at aliquet elit nulla sed massa.</p>
          <ul class="ullist">
            <li>vehicula imperdiet, eros est egestas odio</li>
            <li>Fusce odio, at aliquet </li>
            <li>vehicula eros est egestas odio</li>
            <li>Fusce odio, at aliquet </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-1"><br></div>
  <div class="col-md-5">
    <h3>Our Skill Metrix</h3>
    <div class="progress-bars tool-tip rounded-bars small-line">

      <span class="bar-title">Web Development</span>
      <div class="progress shape">
        <div class="progress-bar progress-bar-success progress-bar-striped shape active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
          <span>40%</span>
        </div>
      </div>

      <span class="bar-title">SEO </span>
      <div class="progress shape">
        <div class="progress-bar progress-bar-info progress-bar-striped shape active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
          <span>30%</span>
        </div>
      </div>

      <span class="bar-title">Graphic design</span>
      <div class="progress shape">
        <div class="progress-bar progress-bar-warning progress-bar-striped shape active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
          <span>60%</span>
        </div>
      </div>

      <span class="bar-title">WordPress</span>
      <div class="progress shape">
        <div class="progress-bar progress-bar-danger progress-bar-striped shape active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
          <span>80%</span>
        </div>
      </div>

    </div>
  </div>
</div>
